.schools-main-container {
    padding-top: 20px;
    margin-top: 4rem;
}

.schools-main-title {
    text-align: center;
    /* font-family: "Saira Condensed", sans-serif; */
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 12px;
}

.schools-main-list {
    list-style-type: none;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.schools-main-items {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    text-align: center;
}

.schools-main-items:hover {
    background-color: #80ced7;
}

.primary {
    padding-left: 120px;
    padding-right: 120px;
}

.secondary {
    padding-left: 105px;
    padding-right: 105px;
}

.tertiary {
    padding-left: 120px;
    padding-right: 120px;
}

@media screen and (max-width: 700px) {
    .schools-main-container {
        margin-top: 5rem;
    }

    .schools-main-title {
        font-size: 24px;
    }

    .schools-main-items {
        font-size: 20px;
    }

    .primary {
        padding-left: 110px;
        padding-right: 110px;
    }

    .secondary {
        padding-left: 98px;
        padding-right: 98px;
    }

    .tertiary {
        padding-left: 110px;
        padding-right: 110px;
    }
}

@media screen and (max-width: 300px) {
    .schools-main-container {
        margin-top: 5rem;
    }

    .schools-main-title {
        font-size: 20px;
    }

    .schools-main-items {
        font-size: 18px;
    }

    .primary {
        padding-left: 95px;
        padding-right: 95px;
    }

    .secondary {
        padding-left: 82px;
        padding-right: 82px;
    }

    .tertiary {
        padding-left: 95px;
        padding-right: 95px;
    }
}
