.elective-card {
  height: fit-content;
}

.elective-container {
  margin-right: 2rem;
}

.elective-card-school-name {
  text-align: center;
}

.elective-div {
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: justify;
}

.elective-category {
  color: #da277d;
  background-color: #f3e0eaaf;
  border-radius: 5px;
  border-bottom: 2px solid #dd69a1;
  width: 100%;
  text-align: center;
}

.elective-name {
  margin-top: 1rem;
  padding-left: 10px;
  
}
