.modal-darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main {
  /* width: 250px;
    height: 170px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04); */
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e2d5e6;
  background-image: linear-gradient(315deg, #f4d2ff 0%, #b8d0e2 74%);
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid #ad9ff3;
}

.modal-header {
  font-size: 20px;
  margin: 5px 0;
}

.modal-content {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.modal-input {
  border-radius: 5px;
  border: 1px solid #cfc7f8;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-btn {
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin: 0 10px;
  border: none;
  color: white;
  background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
}

.modal-btn:hover {
  background-image: linear-gradient(0, #ee8e6b 0%, #ee8e6b 74%);
  box-shadow: 0.3px 0.3px 10px 1px #564f79;
}

.modal-btn:active {
  color: white;
  background-image: linear-gradient(0, #b8d0e2 0%, #b8d0e2 74%);
  box-shadow: none;
}

.modal-btn:disabled {
  background-color: #f1a488;
  background-image: linear-gradient(315deg, #f1a488 0%, #f28ab3 74%);
}