/* CSS for the pagination buttons in primary/secondary/tertiary pages*/
.paginationButtons {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 8px 10px 8px 10px;
  margin: 4px;
  border-radius: 10px;
  color: #fae2e2;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: #5d90a8;
}

.paginationActive a {
  background-color: #4585a3;
}

@media screen and (max-width: 700px) {
  .paginationButtons a {
    margin: 2px;
    padding: 6px;
    font-size: 18px;
  }

  .paginationActive a {
    background-color: transparent;
  }

  .paginationButtons a:hover {
    background-color: transparent;
    color: #0b3142;
  }
}

@media screen and (max-width: 300px) {
  .paginationButtons a {
    font-size: 12px;
  }
}
