.search-bar {
  position: absolute;
  background-color: #e9dddd;
  font-family: "Saira Condensed", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
  text-align: right;
  width: 28%;
  top: 6rem;
  left: 55rem;
  padding-right: 5px;
}

@media screen and (max-width: 1280px) {
  .search-bar {
    position: static;
    position: static;
    max-height: 2rem;
    width: 30%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .search-bar {
    position: static;
    max-height: 2rem;
    width: 40%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .search-bar {
    position: static;
    max-height: 2rem;
    width: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .search-bar {
    position: static;
    max-height: 1.55rem;
    width: 40%;
    margin-top: 1rem;
    font-size: 16px;
  }
}
