.chevron-right-container {
  width: 5rem;
  height: 100vh;
  position: fixed;
  display: block;
  text-align: center;
}

.chevron-right {
  position: fixed;
  font-size: 30px;
  color: rgb(9, 94, 94);
  top: 50%;
}

.chevron-right:hover {
  color: rgb(87, 38, 66);
}

.side-drawer {
  background-color: #c1e7eb;
  width: 19rem;
  height: 100vh;
  position: fixed;
  text-align: center;
  z-index: 2;
}

.contents-container {
  margin-top: 50%;
}

.side-drawer-list {
  list-style: none;
  margin-bottom: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.side-drawer-list:hover {
  background-color: #3dc5d4;
}

.inline-drawer {
  text-decoration: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 25px;
  color: rgb(32, 26, 26);
}

.side-drawer-link {
  text-decoration: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 25px;
  color: rgb(32, 26, 26);
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.drawer-icons {
  padding-right: 10px;
}

.chevron-left {
  font-size: 30px;
  color: rgb(9, 94, 94);
  margin: 2rem;
}

.chevron-left:hover {
  color: rgb(87, 38, 66);
}

@media screen and (max-width: 700px) {
  .side-drawer {
    width: 15rem;
    height: 100vh;
  }

  .side-drawer-link {
    font-size: 20px;
  }

  .chevron-right {
    left: 0.8rem;
  }
}
