.dbd-header {
    padding: 50px;
    text-align: center;
}

.dbd-title {
    color: black;
    font-size: 2rem;
    text-align: right;
    background: linear-gradient(120deg, #80ced7 0%, #80ced7 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0% 120%;
}

.dbd-avatar {
    width: 200px;
}

.dbd-sidebar {
    position: sticky;
    top: 9rem;
    z-index: initial;
}
