* {
    margin: 0;
    padding: 0;
}

.home-section1 {
    background-color: #dc3545;
}

.home-heading1 {
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
}

.home-description1 {
    color: whitesmoke;
    font-size: 1rem;
}

.home-img1 {
    width: 200px;
}

.home-section2 {
    background-color: #f2c0c0;
}

.home-heading2 {
    color: #713e5a;
    font-size: 2rem;
}

.home-description2 {
    color: #713e5a;
    font-size: 1rem;
}

.home-link2 {
    color: #713e5a;
    text-decoration: none;
    background: linear-gradient(120deg, #80ced7 0%, #80ced7 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0% 120%;
}

.home-link2:hover {
    color: #713e5a;
    background: none;
    border-bottom: 0.5rem solid #084e5e;
}

.home-img2 {
    width: 250px;
}

.home-section3 {
    background-color: #dc3545;
}

.home-heading3 {
    color: white;
    font-size: 2rem;
}

.home-description3 {
    color: whitesmoke;
    font-size: 1rem;
}

.home-button {
    cursor: pointer;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #dc3545;
    border-style: none;
    margin-bottom: 1em;
}

.home-button:hover {
    background-color: whitesmoke;
    box-shadow: 0.5px 0.5px 10px 2px #a12330;
}

.home-button:active {
    color: white;
    background-color: #a12330;
    box-shadow: none;
}

.home-link3 {
    color: whitesmoke;
    text-decoration: none;
    background: linear-gradient(120deg, #be89a6 0%, #be89a6 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0% 120%;
}

.home-link3:hover {
    color: whitesmoke;
    background: none;
    border-bottom: 0.5rem solid #80ced7;
}

@media screen and (min-width: 768px) {
    .home-img2 {
        width: 300px;
    }

    .home-heading1 {
        padding: 2rem 10rem 0;
    }
    .home-description1 {
        padding: 0 10rem;
    }
}

@media screen and (min-width: 1024px) {
    .home-img1 {
        width: 350px;
    }
    .home-img2 {
        width: 400px;
    }
    .home-heading2 {
        font-size: 3rem;
    }

    .home-description2 {
        font-size: 1.3rem;
    }
    .home-button {
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }

    .home-heading3 {
        font-size: 3rem;
    }
    .home-description3 {
        font-size: 1.3rem;
    }

    .home-heading1 {
        font-size: 3.5rem;
        padding: 4rem 10rem 0;
    }
    .home-description1 {
        font-size: 1.2rem;
        padding: 0 15rem 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .home-heading1 {
        padding: 4rem 20rem 0;
    }
    .home-description1 {
        padding: 0 30rem 1rem;
    }
}
