  .comp-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .compare-school{
    display:flex;
  }
  .comp-header {
    padding: 50px;
    text-align: center;
  }
  
  .comp-title {
    color: rgb(249, 245, 245);
    display: inline;
    font-size: 45px;
    background: linear-gradient(120deg, #80ced7 0%, #80ced7 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 0% 120%;
  }
  
  .comp-empty {
    text-align: center;
  }
  
  .compare-icon-img {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .comp-empty-heading {
    font-size: 30px;
    margin-bottom: 0.5em;
    color: #f9fafa;
  }
  
  .comp-empty-text {
    font-size: 20px;
    margin-bottom: 0.5em;
    color: #f1f5f6;
  }
  
  .comp-button {
    cursor: pointer;
    background-color: #80ced7;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #0c7187;
    border-style: none;
    margin-top: 1em;
  }
  
  .comp-button:hover {
    background-color: #83c5cc;
    box-shadow: 0.5px 0.5px 10px 2px;
  }
  
  .comp-button:active {
    color: #c1e7eb;
    background-color: #0c7187;
    box-shadow: none;
  }
  

  @media screen and (max-width: 700px) {
    
    .comp-title {
      font-size: 40px;
    }

    .comp-empty-heading {
      font-size: 25px;
    }
    
    .comp-empty-text {
      font-size: 15px;
    }
    
    .comp-button {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 300px) {
    
    .comp-title {
      font-size: 32px;
    }

    .comp-empty-heading {
      font-size: 22px;
    }
    
    .comp-empty-text {
      font-size: 12px;
    }
    
    .comp-button {
      font-size: 12px;
    }
  }