.feedback-form-container {
  /* font-family: "Saira Condensed", sans-serif; */
  /* background-color: #dc3545; */
  height: 36rem;
  width: 25rem;
  border-radius: 2rem;
  margin: auto;
  margin-top: 42px;
}

.feedback-form-title {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 0;
  font-size: 35px;
  color: #0c7187;
}

.feedback-form-p {
  text-align: center;
  font-size: 20px;
}

.feedback-form {
  padding-top: 0.8rem;
}
.feedback-form-control {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

.feedback-form-label {
  text-align: left;
  padding-bottom: 5px;
  padding-left: 20px;
}

.feedback-form-field {
  text-align: left;
  vertical-align: auto;
  border-radius: 0.8rem;
  border: none;
  width: 20rem;
  height: 30px;
  background-color: #f8f9f9;
  padding-left: 1rem;
  padding-right: 1rem;
}

.feedback-message-field {
  height: 120px;
  width: 20rem;
  padding-top: 8px;
  resize: none;
}

.feedback-form-submit-button {
  border-radius: 20px;
  background-color: #f2c0c0;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 8px 26px 8px 26px;
  margin-top: 14px;
}

@media screen and (max-width: 1000px) {
  .feedback-form-container {
    width: auto;
    height: auto;
    margin: 6rem 5rem 0 5rem;
  }

  .feedback-form-title {
    font-size: 40px;
  }

  .feedback-form-p {
    text-align: center;
    font-size: 26px;
  }

  hr {
    width: 500px;
  }

  .feedback-form-label {
    font-size: 20px;
  }

  .feedback-form-field {
    width: 28rem;
    font-size: 18px;
  }

  .feedback-message-field {
    width: 28rem;
    resize: none;
  }
}

@media screen and (max-width: 700px) {
  .feedback-form-container {
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
  }

  .feedback-form-p {
    text-align: center;
    font-size: 16px;
  }

  hr {
    width: 250px;
  }

  .feedback-form-label {
    font-size: 16px;
  }

  .feedback-form-field {
    width: 15rem;
    font-size: 14px;
  }

  .feedback-message-field {
    width: 15rem;
    resize: none;
  }
}

@media screen and (max-width: 300px) {
  .feedback-form-container {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .feedback-form-title {
    font-size: 22px;
  }

  .feedback-form-p {
    text-align: center;
    font-size: 14px;
  }

  hr {
    width: 200px;
  }

  .feedback-form-label {
    font-size: 12px;
  }

  .feedback-form-field {
    width: 11rem;
    font-size: 10px;
  }

  .feedback-message-field {
    width: 11rem;
    resize: none;
  }
}
